body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
}

#instruction {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.exercise {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.question .answer-container {
    display: flex;
    flex-wrap: wrap; /* Allows input boxes to wrap onto the next line if they don't fit */
    gap: 10px; /* Adds space between answer inputs */
    justify-content: center; /* Centers answer inputs horizontally in the container */
    align-items: center; /* Centers answer inputs vertically in the container (optional) */
    width: 100%; /* Full width to utilize the space */
    margin-top: 10px; /* Space between question and answer container */
}

input[type='text'] {
    font-size: 1rem;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    min-width: 250; /* Minimum width */
    width: auto; /* Allow the width to be auto-adjusted */
    text-align: center; /* Center the text inside the input box */
}

input[type='text']:focus {
    outline: none;
    border-color: #7abd7a;
    box-shadow: 0 0 0 2px rgba(122, 189, 122, 0.2);
}

button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #4cae4c;
}

.result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #5cb85c;
    text-align: center;
}


.instruction-part {
    display: block; /* Makes each part of the consigne appear on a new line */
    margin-bottom: 5px; /* Adds space between the consigne parts */
}

.example {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}

.example p {
    margin-top: 5px; /* Reduces space above each paragraph */
    margin-bottom: 10px; /* Reduces space below each paragraph */
    /* Adjust these values as needed to suit your design */
}

/* Optional: If you want the first paragraph to align with the container's top edge */
.example p:first-child {
    margin-top: 0;
}

/* Optional: If you want the last paragraph to align with the container's bottom edge */
.example p:last-child {
    margin-bottom: 25px;
}

#secretButton {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    /* or any size you prefer */
    height: 50px;
    /* or any size you prefer */
    opacity: 0;
    /* makes the button invisible */
    cursor: pointer;
    /* changes the cursor, indicating it's clickable */
    background: transparent;
    /* ensures the button has no background */
    border: none;
    /* removes the border */
    padding: 0;
    /* removes padding */
    z-index: 1000;
    /* ensures the button is above other elements */
}

/* Responsive input sizes for smaller screens */
@media (max-width: 600px) {
    input[type='number'] {
        max-width: 80px; /* Adjusts input width on smaller screens */
    }
}