body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
}

#instruction {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.exercises {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exercise {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    flex-direction: column;
    /* To accommodate two lines per exercise for division */
    align-items: flex-start;
    /* Align items to the start of the flex container for division */
}

.exercise label {
    margin-right: 10px;
}

input[type='number'] {
    font-size: 1rem;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 120px;
}

input[type='number']:focus {
    outline: none;
    border-color: #7abd7a;
    box-shadow: 0 0 0 2px rgba(122, 189, 122, 0.2);
}

button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #4cae4c;
}

.result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #5cb85c;
    text-align: center;
}

.division-exercise {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.division-exercise .question-container {
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    /* Add space between the question and answer container */
}

.division-exercise .answer-container {
    width: 100%;
    display: flex;
    /* Aligns answer inputs on the same line */
    gap: 10px;
    justify-content: center;
    /* Adds space between answer inputs */
}

.division-exercise input[type='number'] {
    padding: 5px;
    margin-top: 5px;
    /* Space above the input for separation from text */
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 80px;
    /* Adjust the width as needed */
}

.division-exercise input[type='number']:focus {
    outline: none;
    border-color: #7abd7a;
    box-shadow: 0 0 0 2px rgba(122, 189, 122, 0.2);
}

.consigne-part {
    display: block;
    /* Makes each part of the consigne appear on a new line */
    margin-bottom: 5px;
    /* Optional: Adds space between the consigne parts */
}

.regular-exercise {
    display: flex;
    /* Aligns items in a row */
    align-items: center;
    /* Vertical alignment */
    justify-content: space-between;
    /* Spacing between items */
    padding: 10px;
}

.regular-exercise .consigne {
    margin-right: 10px;
    /* Space between the consigne and the input */
}

.division-example {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}

#secretButton {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    /* or any size you prefer */
    height: 50px;
    /* or any size you prefer */
    opacity: 0;
    /* makes the button invisible */
    cursor: pointer;
    /* changes the cursor, indicating it's clickable */
    background: transparent;
    /* ensures the button has no background */
    border: none;
    /* removes the border */
    padding: 0;
    /* removes padding */
    z-index: 1000;
    /* ensures the button is above other elements */
}